# Bloquear acesso ao .git

RewriteEngine On
RewriteRule ^\.git - [F]

# React / SPA routing
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]